.map-container {
    position: absolute;
    top: 12%; /* Distance from the top of the page */
    bottom: 5%; /* Distance from the bottom of the page */
    left: 15%; /*puts map in the middle (because it's at 70% size*/
    width: 70%; /* makes the map take up 70% of screen*/
    border-radius: 8px; /*rounds the edges pf the map*/
    border: 1px solid #000000; /*adds a black outline on the map*/
}